<div class="p-6">

  <!-- Page header -->
  <div class="mb-6 flex items-center justify-between">
    <div>
      <h1 class="text-xl font-semibold text-[#131719] tracking-[-0.005em] leading-none mb-1">
        Transactions
      </h1>
      <p class="text-sm font-normal text-[#51575B] tracking-[-0.005em]">
        Manage all transaction activities
      </p>
    </div>

    <!-- Filter by date range -->
    <div class="flex items-center gap-1">
      <!-- @for (tab of timeframeTabs; track tab.value) {
      <button
        type="button"
        (click)="onTimeframeChange(tab.value)"
        class="px-4 py-1.5 text-xs font-semibold transition-all whitespace-nowrap rounded-full cursor-pointer"
        [class.text-[#00B3FF]]="activeRange() === tab.value"
        [class.text-[#727C84]]="activeRange() !== tab.value">
        {{ tab.label }}
      </button>
      } -->

      <ps-date-range-picker
        placeholder="Filter by date range"
        (rangeChange)="onRangeChange($event)">
      </ps-date-range-picker>
    </div>
  </div>

  <!-- Stat cards -->
  <app-transaction-stats />

  <!-- Divider -->
  <div class="w-full h-px bg-[#F3F7F9] mb-6"></div>

  <!-- Transactions table -->
  <app-transactions-table />

</div>