<div class="min-h-screen">

    <!-- Stats Grid with timeframe tabs -->
    <app-stats-grid />

    <!-- Main content -->
    <div class="p-6 space-y-14">

        <!-- Performance Banner -->
        <!-- <div class="mb-12">
            <app-performance-banner />
        </div> -->
        <!-- Recent Loan Applications -->
        <div class="mb-12">
            <app-recent-loans />
        </div>
        <!-- Transaction History + Disbursement History -->

        <div class="mb-12">
            <app-transaction-history />
        </div>

        <!-- Recent Customer Sign Ups -->
        <div class="mb-12">
            <app-recent-customers />
        </div>
    </div>
</div>