<div class="flex flex-col bg-white border border-[#ECF0F3] rounded-2xl pointer-events-auto modal-background overflow-hidden w-full">
  
  <!-- Body -->
  <div class="flex flex-col items-center text-center px-8 pb-8 pt-20 space-y-4">
    <img [src]="iconSrc" class="w-20 h-20" />
    <div class="space-y-1.5">
      <h3 class="font-bold text-xl">{{ title }}</h3>
      <p class="text-sm text-[#2B3033]">{{ description }}</p>
    </div>
  </div>

  <!-- Footer -->
   <div class="border-t border-[#F3F7F9] px-6 py-4 items-center text-center">
    <button (click)="done()" class="w-[340px] py-3 rounded-xl text-sm font-medium border border-[#E2E8F0] bg-white text-[#131719] hover:bg-gray-50 transition-colors cursor-pointer">
      {{ doneLabel }}
    </button>
  </div>

</div>